@page
@model HospitalManagement.Pages.Account.LoginModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-position: center;
            background-size: cover;
        }

        .login-container {
            width: 350px;
            padding: 40px;
            margin: 100px auto;
            border-radius: 10px;
            background-color: #EAEDED;
        }

            .login-container h2 {
                text-align: center;
                color: #333333;
            }

        .login-form {
            margin-top: 30px;
        }

            .login-form input[type="text"],
            .login-form input[type="password"] {
                width: calc(100% - 20px);
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid #dddddd;
                border-radius: 4px;
            }

            .login-form input[type="submit"] {
                width: 100%;
                padding: 10px;
                background-color: #2874A6;
                color: #ffffff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                .login-form input[type="submit"]:hover {
                    background-color: #BA4A00;
                }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Login Form</h2>
        <form class="login-form" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="text" placeholder="Username" name="username" asp-for="credetial.Username" required>
      
            <input type="password" placeholder="Password" name="password" asp-for="credetial.Password" required>
            <input type="submit" href="/Index" value="Login">
        </form>
    </div>
</body>
</html>