@page
@model HospitalManagement.Pages.Account.Login3Model
@{
    Layout = "~/Pages/Shared/empty.cshtml";
}
<style>

</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
    @* loginform *@
    <div class="container">
        @if (@Model.message.Length > 0)
        {
            <div class="alert alert-info">
                <span>@Model.message</span>
            </div>
        }
    </div>
   
    <div class="cont">
        <form method="POST" class="mt-4" asp-page-handler="OnPost">
            @Html.AntiForgeryToken()
        <div class="form sign-in">
            <h2>Sign In</h2>
            <label>
                <span>Email Address</span>
                    <input type="email" name="email" placeholder="Enter email" required>
            </label>
            <label>
                <span>Password</span>
                    <input type="password" name="password" placeholder="password" required>
            </label>
                <button class="submit" type="submit">Sign In</button>
            <p class="forgot-pass">Forgot Password ?</p>

            <div class="social-media">
                <ul>
						<li><img src="~/pics/facebook.png" /></li>
						<li><img src="~/pics/twitter.png" /></li>
						<li><img src="~/pics/linkedin.png" /></li>
						<li><img src="~/pics/instagram.png" /></li>
                </ul>
            </div>
        </div>
    </form>

   @*  sigup form *@
         <form method="POST" class="mt-4" asp-page-handler="OnPost">
            @Html.AntiForgeryToken()
        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <h2>New here?</h2>
                    <p>Sign up and discover great amount of new opportunities!</p>
                </div>
                <div class="img-text m-in">
                    <h2>One of us?</h2>
                    <p>If you already has an account, just sign in. We've missed you!</p>
                </div>
                <div class="img-btn">
                    <span class="m-up">Sign Up</span>
                    <span class="m-in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Sign Up</h2>
                <label>
                    @* <span>Name</span> *@
                        <input type="text" name="fullName" placeholder="Enter names" required>
                </label>
                <label>
                    @* <span>Email</span> *@
                        <input type="email" name="email" placeholder="Enter email" required>
                </label>
                <label>
                        <input type="text" name="phone" placeholder="Phone Number" required>
                </label>
                <label>
                        <input type="text" class="form-control mt-2" name="address" placeholder="Enter your Address" value="" requo
                        >
                </label>
                    
                    
                <label>
                    @* <span>Password</span> *@
                        <input type="password" name="password" placeholder="password" required>
                </label>
                <label>
                   @*  <span>Confirm Password</span> *@
                        <input type="password" placeholder="Confirm password" required>
                </label>
                    <button  class="submit" type="submit">Sign Up Now</button>
            </div>
        </div>
        </form>
    </div>
   
    @* <script type="text/javascript" src="script.js"></script> *@
	<script src="~/js/script.js"></script>
</body>
</html>
